.checkbox {
  margin-bottom: 30px;

&__input {
  appearance: none;
  position: absolute;
}
&__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $black;
  border-radius: 2px;
}

&__input:checked + &__icon {
  background: $accent-color;
  border: 2px solid $accent-color;
  background-image: url(../img/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

&__text {
  @media screen and (max-width: 1199px) {
    @include font(12px,1.71,400);
  }
  @include font(14px,1.71,400);
}

&__agreement {
  font-family: Roboto;
  text-decoration: underline;
  color: $accent-color;
  @media screen and (max-width: 1199px) {
    @include font(12px,1.71,400);
  }
  @include font(14px,1.71,400);
}
}