@media screen and (min-width: 480px) {
  .contacts {
    text-align: center;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .contacts {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    .contacts {
      display: flex;
      margin-left: 227px;
    }
  }

@media screen and (max-width:767px) { 
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
      margin-right: 20px;
    }
}
.contacts__link {
  display: block;
  font-style: normal;
  @include font(14px, 1.14, 500);
  color: $main-color;
  transition: $animation;

  @media screen and (min-width: 768px) {
   display: flex;
  
   &:last-child {
     margin-top: 10px;
     padding-bottom: 0px;
   }
  }

  @media screen and (min-width: 1200px) {
    display: flex;

  }


&:hover,
&:focus {
  color: $accent-color;
}

&:hover .contacts__adress,
&:focus .contacts__adress {
  fill: $accent-color;
}
}

.contacts__adress {
  margin-right: 10px;
  fill: $main-color;
  width: 16px;
  height: 12px;
  align-items: center;

  transition: $animation;


&--phone {
  width: 10px;
  height: 16px;
}
}