.footer {
  background-color: $bg-footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
  color: $white;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .tablet-box {
      display: flex;
      justify-content: space-around;
    }
  }

    @media screen and (min-width: 1200px) {
      &__flexbox {
        display: flex;
        flex-direction: row;
        }
      .tablet-box {
      display: flex;
        }

      &__box {
        margin-right: 70px;
        }
    }

&__list-item {
  margin-bottom: 10px;
  font-style: normal;
  @include font(14px, 1.71, 400);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  &__list-item:last-child {
  margin-bottom: 60px;
}
}

&__list-link {
  color: $footer-addres-color;
  @include font(14px,1.71, 400);
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__list-link:focus,
&__list-link:hover {
  color: $accent-color;
}
} 