.join-box__title {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;

  font-family: Roboto;
  @include font(14px,1.14,700);
  text-transform: uppercase;
  color: $white;
}

.join-box-icons {
  display: flex;
  justify-content: center;

    &__item {
    padding-bottom: 60px;       
    }

    &__item:not(:last-child) {
    margin-right: 10px;     
    }

    &__link {
    display: flex;
    justify-content: center;
    align-items: center;    

    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color $animation;
    }

    &__social {
    fill: $white;
    width: 20px;
    height: 20px;
    }

    &__link:hover,
    &__link:focus {
    background-color: $accent-color;
    }
}