.social__icon {
  display: flex;
  justify-content: center;

&-item {
  padding-bottom: 30px;
}

&-item:not(:last-child) {
  margin-right: 10px;
}

&-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color $animation;
}

&-link:hover,
&-link:focus {
  background-color: $accent-color;
}

&--icon {
  width: 20px;
  height: 20px;
  fill: $social-icon-color;
  transition: fill $animation;
}
&--icon:hover,
&--icon:focus {
  fill: $white;
}
}